<br/><br/><br/>
<div class="w3-container w3-card-4 w3-white w3-margin w3-twothird w3-right" style=".w3-col.m8, .w3-twothird:85%;">
  <h3 class="w3-center w3-wide">Update Project</h3>
  <form class="w3-container" name="uForm" data-ng-submit="vm.save()" novalidate><br>
    <p>{{vm.error}}</p>

    <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Title</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>

        <input data-ng-model="vm.project.title" class="w3-input w3-border" name="title" type="text" placeholder="Title" required data-ng-minlength="5" data-ng-maxlength="100">
      </div>
      <span style="color:red" data-ng-show="uForm.title.$error.required && !uForm.title.$pristine"><b><font size="1.5">Title is required</font></b></span>
      <span style="color:red" data-ng-show="uForm.title.$error.minlength"><b><font size="1.5">Title is too short (5-100 characters) is needed</font></b></span>
      <span style="color:red" data-ng-show="uForm.title.$error.maxlength"><b><font size="1.5">Title is too long (5-100 characters) is needed</font></b></span>
    </div>





    <div class="w3-row w3-section">
     <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Description</b></label>
     <div style="margin-bottom: 25px" class="input-group">
       <span class="input-group-addon"><i class="glyphicon glyphicon-folder-close"></i></span>
       <textarea name="description" class="input" rows="10" data-ng-model="vm.project.description" style="width:100%;" placeholder="Description" required data-ng-minlength="5" data-ng-maxlength="500"></textarea></div>
       <span style="color:red" data-ng-show="uForm.description.$error.required && !uForm.descrition.$pristine"><font size="1.5">Title is required</font></b></span>
       <span style="color:red" data-ng-show="uForm.description.$error.minlength"><b><font size="1.5">Title is too short (5-100 characters) is needed</font></b></span>
       <span style="color:red" data-ng-show="uForm.description.$error.maxlength"><b><font size="1.5">Title is too long (5-500 characters) is needed</font></b></span>
     </div>

     <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Start Date</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input data-ng-model="vm.project.start_date" data-ng-blur="vm.compareDate(uForm)" class="w3-input w3-border" name="start_date" type="date" placeholder="Start Date" required>
      </div>
      <span style="color:red" data-ng-show="uForm.start_date.$error.validDate"><b><font size="1.5">Error: Start date must be earlier than end date.</font></b></span>
    </div>

    <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> End Date</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input data-ng-model="vm.project.end_date" data-ng-blur="vm.compareDate(uForm)" class="w3-input w3-border" name="end_date" type="date" placeholder="End Date" required>
      </div>
    </div>

    <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Status</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <select class="w3-select w3-border w3-text-grey" ng-model="vm.project.status" ng-options="status as status for status in vm.statuses">
          <option  value="" disabled="">Select Status</option>
        </select> 
      </div>
    </div>


    <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Select Guest</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <select class="w3-select w3-border w3-text-grey" ng-model="vm.new_project.guest_id" ng-options="guest.id as (guest.last_name + ', ' + guest.first_name) for guest in vm.guests">
          <option  value="" disabled="">Select Guest</option>
        </select> 
      </div>
    </div>

    <div class="w3-btn-group">
      <button type="submit" class="w3-btn w3-blue w3-text-white w3-margin-bottom" style="width:50%" data-toggle="modal" href="login.html#myModal" data-ng-disabled="uForm.$invalid"><h4>Update</h4></button>
      <button class="w3-btn w3-red w3-text-white w3-margin-bottom" data-ng-click="vm.cancel()" style="width:50%"><h4>Cancel</h4></button>
    </div>
  </form>
</div>


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <h4>PROJECT SUCCESSFULLY UPDATED</h4> 
      </div>
    </div>
  </div>
</div>
<!-- modal -->
