<br/><br/><br/>
<div class="w3-container w3-card-4 w3-white w3-margin w3-twothird w3-right" style=".w3-col.m8, .w3-twothird:85%;">
  <h3 class="w3-center w3-wide">Udpate Task</h3>
  <form class="w3-container" name="myForm" data-ng-submit="vm.save()" novalidate><br>
    <!-- <p>{{vm.error}}</p> -->


    <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Title</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>

       <input data-ng-model="vm.task.title" class="w3-input w3-border" name="title" type="text" placeholder="Title" data-ng-minlength="5" data-ng-maxlength="100" ng-disabled="vm.disableForms()" required/>
        </div>  
        <span style="color:red" data-ng-show="myForm.title.$error.required && !myForm.title.$pristine"><b><font size="1.5">Title is required</font></b></span>
        <span style="color:red" data-ng-show="myForm.title.$error.minlength"><b><font size="1.5">Title is too short (5 - 100 characters needed)</font></b></span>
        <span style="color:red" data-ng-show="myForm.title.$error.maxlength"><b><font size="1.5">Title is too long (5 - 100 characters needed)</font></b></span>
    </div>


 


    <div class="w3-row w3-section">
     <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Description</b></label>
     <div style="margin-bottom: 25px" class="input-group">
       <span class="input-group-addon"><i class="glyphicon glyphicon-folder-close"></i></span>
       <textarea name="description" class="input" rows="10" data-ng-model="vm.task.description" style="width:100%;" placeholder="Description" required data-ng-minlength="5" data-ng-maxlength="500" ng-disabled="vm.disableForms()">
        </textarea>
      </div>
        <span style="color:red" data-ng-show="myForm.description.$error.required && !myForm.description.$pristine"><b><font size="1.5">Description is required</font></b></span>
        <span style="color:red" data-ng-show="myForm.description.$error.minlength"><b><font size="1.5">Description is too short (5 - 500 characters needed)</font></b></span>
        <span style="color:red" data-ng-show="myForm.description.$error.maxlength"><b><font size="1.5">Description is too long (5 - 500 characters needed)</font></b></span>
    </div>

    <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"> Dependent</label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
         <select class="w3-select w3-border w3-text-grey" ng-model="vm.task.depends_on" ng-options="d.id as d.title for d in vm.tasks" ng-disabled="vm.disableForms()">
      <option  value="" disabled="">Depends On (Don't change if this task is independent)</option>
    </select> 
      </div>
    </div>


    <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Status</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <select class="w3-select w3-border w3-text-grey" ng-model="vm.task.status" ng-options="status as status for status in vm.statuses" ng-disabled="vm.disableForms()">
      <option  value="" disabled="">Select Status</option>
    </select> 
      </div>
    </div>

   <div class="w3-row w3-section">
    <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Start Date</b></label>
    <div style="margin-bottom: 25px" class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input data-ng-model="vm.task.start_date" data-ng-blur="vm.compareDate(myForm)" class="w3-input w3-border" name="start_date" type="date" placeholder="Start Date" ng-disabled="vm.disableForms()"required>
      </div>
        <span style="color:red" data-ng-show="myForm.start_date.$error.validDate"><b><font size="1.5">Error: start date must be earlier than end date.</font></b></span>
  </div>



    <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> End Date</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
         <input data-ng-model="vm.task.end_date" data-ng-blur="vm.compareDate(myForm)" class="w3-input w3-border" name="phone" type="date" placeholder="End Date" ng-disabled="vm.disableForms()" required>
      </div>
    </div>


    <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Assign to Developer</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
         <select class="w3-select w3-border w3-text-grey" ng-model="vm.task.developer_id" ng-options="developer.id as (developer.last_name + ', ' + developer.first_name) for developer in vm.developers" ng-disabled="vm.disableForms()">
            <option  value="" disabled="">Select Developer</option>
          </select> 
      </div>
    </div>

     <div class="w3-row w3-section">
      <label class="w3-label w3-text-blue"><b><font color="red" size="4">*</font> Assign to Tester</b></label>
      <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
         <select class="w3-select w3-border w3-text-grey" ng-model="vm.task.tester_id" ng-options="tester.id as (tester.last_name + ', ' + tester.first_name) for tester in vm.testers" ng-disabled="vm.isDevLead()">
      <option  value="" disabled="">Select Tester</option>
    </select> 
      </div>
    </div>

      <div class="w3-btn-group">
        <button type="submit" class="w3-btn w3-blue w3-text-white w3-margin-bottom" style="width:50%" data-ng-disabled="myForm.$invalid"><h4>Save</h4></button>
       <button class="w3-btn w3-red w3-text-white w3-margin-bottom" data-ng-click="vm.cancel()" style="width:50%" type="button"><h4>Cancel</h4></button>
      </div>
    </form>
  </div>


    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <h4>TASK SUCCESSFULLY ADDED</h4> 
          </div>
        </div>
      </div>
    </div>
    <!-- modal -->
`